.svgGrey path[stroke="white"] {
  stroke: #7f7f7f;
}
.svgGrey path[fill="white"] {
  fill: #7f7f7f;
}

.svgWhite path[stroke="white"] {
  stroke: white;
}
.svgWhite path[fill="white"] {
  fill: white;
}

.svgOrange path[stroke="white"] {
  stroke: #ff3d02;
}
.svgOrange path[fill="white"] {
  fill: #ff3d02;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  gap: 8px;
  height: fit-content;
  padding: 10px 25px;
  border: none;
  border-radius: 4px;
  background: #ff3d02;
  color: white;
  cursor: pointer;
  transition: background 200ms ease-in;
}
.btn:hover {
  background: #ff3d02;
}
.btn:disabled {
  background: white;
  border: 1px solid #bebebe;
  color: #bebebe;
  cursor: default;
}
.btn:disabled path[stroke="white"] {
  stroke: #bebebe;
}
.btn:disabled path[fill="white"] {
  fill: #bebebe;
}

.btn_secondary {
  background: transparent;
  color: #7f7f7f;
  border: 1px solid #ff3d02;
}
.btn_secondary:hover {
  color: white;
}
.btn_secondary path[stroke="white"] {
  stroke: white;
}
.btn_secondary path[fill="white"] {
  fill: white;
}

.btn_grey {
  background: #f8f8f8;
  color: #7f7f7f;
}

.btn_grey:hover {
  color: white;
  background: #bebebe;
}

@media (min-width: 1024px) {
  .btn {
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
  }
}
